* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
  text-align: center;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  padding: 0 11%;
  background-color: #1D1B4D;
  overflow-x: hidden;
  font-size: large;
  width: 100vw;
}

.navigation {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  padding: 0 11%;
  height: 70px;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.navigation.scroll {
  background-color: #1E1345;
}


header .navbar {
  display: flex;
  gap: 12px;
}

header .navbar .menu {
  list-style-type: none;
  display: flex;
  gap: 18px;
}

.menu li a {
  color: #fff;
  font-size: larger;
  font-weight: 380;
  text-decoration: none;
}

.menu li a:hover {
  color: #00C0FF;
}

header .navbar .icons {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 30%;
  align-items: center;
}

header .navbar .icons li a {
  text-decoration: none;
}

i {
  color: #fff;
}

i:hover {
  color: #00C0FF;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50vw;
  padding-top: 40px;
  align-items: center;
}

.main .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 24px;
  width: 60%;
  height: 100%;
  padding-left: 16px;
}

.main .title h1 {
  font-size: 60px;
  color: #fff;
  text-align: left;
}

.main .title h1 span {
  color: #00C0FF;
}

.main .title p {
  color: #fff;
  font-size: 26px;
  text-align: left;
}

button {
  width: 200px;
  height: 60px;
  border: none;
  background-color: #00C0FF;
  padding: 12px 12px;
  border-radius: 100px;
  color: #fff;
  font-size: 18px;
}

button:hover {
  color: #000;
  background-color: #fff;

}


  .main .boxOfImage{
  width:  380px;
  height: 380px;
  background-color: rgb(39, 48, 100);
  background-image: url("images/profile.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  background-position-y: -260px;
  margin-right: 100px;

}

 .box-container {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 400px;
  gap: 24px;
  width: 100%;
}

.box {
  width: 100%;
  height: 100%;
  clear: both;
  float: left;
  position: relative;
  background-color: #3a2b71;
  border-radius: 10px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 30px;
}

.box  i{
  color: #00C0FF;
  font-size: 85px;
  text-align: left;

}
.box  h4{
  color: white;
  font-size: 20px ;
  text-align: left;
}
.box  p {
  color: #B2ADC5;
  font-size: 16px;
  text-align: left;
}

/* The style of About Section */
.about {
  padding-top: 120px;
  height: 900px;
  margin-bottom: 300px;
  margin-top: 30px;
}

.about-title h4 {
  color: #00C0FF;
  font-size: 20px;
}

.about-title h3 {
  margin-top: 24px;
  font-size: 40px;
}
.about-content {
  display: flex;
  width: 100%;
  height: 620px;
  margin-top: 70px;
}

.content1 {
  width: 50%;
  position: relative;
  padding: 12px;
}
.content1 .img1{
  height: 450px; 
  top: 38px;
  right: 0;
  width: 380px;
  border-radius: 12px;
  position: absolute;
  padding-right: 40px;
} 

.content1 .img2 {
  height: 260PX;
  z-index: 1;
  width: 260px;
  border-radius: 12px;
  position: absolute;
  bottom: 0;
  left: 8px;
}

.top-logo {
  height: 90px;
  z-index: 1;
  width: 90px;
  border-radius: 12px;
  position: absolute;
  top: 140px;
  left: 22px;
}

.about-bottom {
  height: 50px;
  z-index: 1;
  width: 200px;
  position: absolute;
  bottom: 18px;
  right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-bottom hr {
  margin-left: 8px;
  height: 40px;
  border: 5px solid #00C0FF;
  margin-top: -30px;
}

.about-bottom h3 {
  font-size: 48px;
  margin-top: -30px;
}

.content2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0 60px 24px;
  border-radius: 2px;

}
.content2 h3{
  font-size: 30px;
  text-align:left ;
  height: 10px;
  margin-bottom: 12px;
}

.content2 p {
  color: #625A7D;
  height: 12px;
  text-align: left;
  margin-bottom:40px;
  padding-top: 12px;
}

.content2 button {
margin-top: 3px;
}

.tables{
  margin-top: 48px;
  display: flex;
}

.content2 .tables .table1 {
  justify-content: space-between;
  text-align: left;
  margin-bottom: 45 px;
  width: 50%;;
  height:280px;
  padding: auto;
  padding-top: 2px;
  border: 2px solid #625A7D;
}
.content2 .tables .table1 h4{
  color:#fff;
  padding-top: 24px;
  padding-left: 34px;
  text-align: left;

}
.content2 .tables .table1 P{
color:#625A7D;
padding-top: 5px;
padding-left: 34px;
text-align: left;
}

.content2 .tables .table2{
  text-align: left;
  margin-bottom: 45 px;
  width: 50%;;
  height:280px;
  padding: auto;
  padding-top: 2px;
  border: 2px solid #625A7D;
}
.content2 .tables .table2 h4{
color:#fff;
padding-top: 24px;
padding-left: 34px;
text-align: left;

}
.content2 .tables .table2 P{
  color:#625A7D;
  padding-top: 5px;
  padding-left: 34px;
  text-align: left;
}

.content-boxes{
width:100%;
height: 300px;
display: flex;
margin-top: 30px;
justify-content: space-between;
align-items: center;

}
.content-boxes .box1{
  width: 23%;
  height: 52%;
  background-color: #432D92;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  row-gap: 1px;
  justify-content: space-between;
}
.content-boxes .box1 h4{
  padding-left: 56px;
  color:#00C0FF;
  font-size: 48px;
}
.content-boxes .box1 p{
  padding-right: 56px;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

.content-boxes .box2{
  width: 23%;
  height: 52%;
  background-color: #432D92;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  row-gap: 1px;
  justify-content: space-between;
}

.content-boxes .box2 h4{
  padding-left: 50px;
  color:#00C0FF;
  font-size: 48px;
}
.content-boxes .box2 p{
  padding-right: 50px;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
.content-boxes .box3{
  width: 23%;
  height: 52%;
  background-color: #432D92;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  row-gap: 1px;
  justify-content: space-between;
}
.content-boxes .box3 h4{
  padding-left: 56px;
  color:#00C0FF;
  font-size: 48px;
}
.content-boxes .box3 p{
  padding-right: 56px;
 
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
.content-boxes .box4{
  width: 23%;
  height: 52%;
  background-color: #432D92;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  row-gap: 1px;
  justify-content: space-between;
 
}
.content-boxes .box4 h4{
  padding-left: 60px;
  color:#00C0FF;
  font-size: 48px;
}
.content-boxes .box4 p{
  padding-right: 58px;

  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

.skills{
  height: 500px;
  width: 100%;
}
.skills-title{
  margin-top: 450px;
}
.skills-title span{
  color: #00C0FF;
  font-size: 20px;
}
.skills-title h4{
  margin-top: 18px;
  font-size: 36px;
}
.skills-content {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  height: 260px;
  margin-top: 80px; 
}
.lang {
  padding: 20px;
  height: 50px;
  font-size: 30px;
  text-align: center;
}

.lang .bar {
  background-color: #fff;
  width: 100%;
  border-radius: 12px;
  height: 8px;
  position: relative;
}
.lang .title {
  display: flex;
  justify-content: space-between;
}

.lang .level-html {
  position: absolute;
  height: 100%;
  width: 95%;
  background-color: #00C0FF;
}

.lang .level-css {
  position: absolute;
  height: 100%;
  width: 75%;
  background-color: #00C0FF;
}

.lang .level-js{
  width: 90%;
  position: absolute;
  height: 100%;
  background-color: #00C0FF;
}
.lang .level-vue{
  width: 80%;
  position: absolute;
  height: 100%;
  background-color: #00C0FF;
}
.lang .level-react{
  width: 70%;
  position: absolute;
  height: 100%;
  background-color: #00C0FF;
}
.lang .level-php{
  width: 90%;
  position: absolute;
  height: 100%;
  background-color: #00C0FF;
}
/* Section of service */
.service{
  padding-top: 100px;
  height:900px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.service .service-title span{
  color:#00C0FF;
  font-size: 24px;
  padding-bottom: 5%;
  
}
.service .service-title h4 {
  font-size: 36px;
  margin-top: 12px;
}
.service-box-parts{
  height:0px;
  padding: 2px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin-left: 0;
  margin-top:80px;
  gap: 18px;
  padding-right: 0px;
  width: 100%;

}
.service-box-parts .box{
  justify-content: center;
  height: 390px;
  width:31% ;
  background-color:#3A2B71;
  gap: 4px;
  
}
.service-box-parts .box .logos {
  display: flex;
  flex-direction: column;
}
.service-box-parts .box .logos i {
  width:50px;
  height: 10px;
  color: #00C0FF;
  font-size: 65px;
  margin-left: 80px;
  padding-left: 20px;
  padding-bottom:  32px;
  justify-content: center;
  z-index: 1;
}
.service-box-parts .box .logos div{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #432D92;
  background-color: #432D92;
  align-items: center;
  margin-left:130px ;
  margin-bottom: 10px;
  padding-left: 24px;
}

.service-box-parts .box h4{
  font-size: 22px;
  padding: 0px;
  text-align: center;
}


.service-box-parts .box p{
  margin-top: 30px;
  color: #B0A1A5;
  text-align:center;
  padding-left: 20PX;
  padding-right: 20PX;

}

.resume{
  margin-top:200px;
  height: 900px;
  width: 100%;
}
.resume .resume-title{
  padding-top:80px;

}
.resume-title span{
  color:#00C0FF;
  font-size: 24px;
 
}
.resume-title h4{
  padding-top: 24px;
  font-size: 40px;
}
.container {
  display: grid; /* Enable grid layout */
  grid-template-columns: 1fr 1fr; /* Split the container into two equal columns */
  grid-template-rows: 1fr 1fr; /* Split the container into two equal rows */
  justify-content: left;
}
/* sub-container stands for EXPERIENCE AND EDUCATION CONTENTS */

.sub-container {
  display: grid; /* Enable grid layout for the subcontainers */
  grid-template-columns: 90px 1fr; /* Split the subcontainers into two equal columns */
  justify-content: space-around;
  margin-top: 10px;
  text-align: left;
}

.container  div h3{
  text-align: left;
  margin-top: 80px;
  font-size: 36px;
}

.sub-container .circle div{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid #00C0FF;
  background-color: #00C0FF;
  padding-left: 10px;
}

.sub-container .circle  div i{
  color:#fff;
  padding-top:16px;
  padding-right: 10px;
  font-size: 36px;
}

.sub-container .circle .line{
  height: 100px;
  width: 0px;
  border: 1px solid #8D86A4;
  padding: 0px;
  margin-left: 32px;
  margin-top:0px;
}

.sub-container .info {
  color:#8D86A4;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}

.sub-container .info span{
  color:white;
  font-size: 24px;
  margin-left: 0%;

}
.sub-container .info h4{
  color:white;
  margin-left: 0%;
  text-align: left;
  margin-top: 10px;
}

.sub-container .info p{
  padding-top: 10px;
  color: #8D86A4;
  margin-left: 0px;
  text-align:left;
  
}

.portfolio{
  margin-top:100px;
  height: 1250px;
  width: 100%;
}
.portfolio:hover{
  color:#00C0FC
}


.portfolio-tittle{
  padding-top:80px;

}
.portfolio span{
  color:#00C0FF;
  font-size: 24px;
}
.portfolio h4{
  padding-top: 24px;
  font-size: 40px;
}
.portfolio .sub-title{
  color:#fff;
  display: inline-flex;
  gap: 50px;
  margin-top: 70px;
} 
.portfolio .sub-title a:hover {
  color: #00C0FC;
  cursor: pointer;
}
.portfolio .contents{
  height:80px;
  padding: 2px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin-left: 0;
  margin-top:80px;
  gap: 18px;
  padding-right: 0px;
  width: 100%;
} 
.portfolio .contents div {
  justify-content: center;
  height: 320px;
  width:32% ;
  background-color:#3A2B71;
  gap: 4px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  
 
} 

.portfolio .contents  .pop-up h3{
  text-align: left;
  padding-left: 18px;
  margin-top: 9px ;
}
.portfolio .contents  .pop-up p{
  color: #B2ADC5;
  margin-top: 6px;
  text-align: left;
  padding-left: 18px;
}
.portfolio .contents .image1{
  background-image: url("images/headphone.png");
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.portfolio .contents .image1 .pop-up {
  position: absolute;
  left: 10%;
  bottom:-30%;
  background-color: #1D1B4D;
  width: 85%;
  height: 80px;
  transition: 0.2s ease;
}


.portfolio .contents .image1:hover .pop-up {
  position: absolute;
  left: 10%;
  bottom:10%;
  background-color: #1D1B4D;
  /* width: 80%;
  height: 70px; */
}

 .portfolio .contents .image2{
  background-image: url('images/watch.png');
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.portfolio .contents .image2 .pop-up {
  position: absolute;
  left: 10%;
  bottom:-30%;
  background-color: #1D1B4D;
  width: 85%;
  height: 80px;
  transition: 0.2s ease;
}
.portfolio .contents .image2:hover .pop-up {
  position: absolute;
  left: 10%;
  bottom:10%;
  background-color: #1D1B4D;
  width: 85%;
  height: 80px;
}

.portfolio .contents .image3 { 
  background-image: url('images/flower.png');
  position: relative;
  overflow: hidden;
  cursor: pointer;
  }

.portfolio .contents .image3 .pop-up {
  position: absolute;
  left: 10%;
  bottom:-30%;
  background-color: #1D1B4D;
  width: 85%;
  height: 80px;
  transition: 0.2s ease;
}

.portfolio .contents .image3:hover .pop-up {
  position: absolute;
  left: 10%;
  bottom:10%;
  background-color: #1D1B4D;
  width: 85%;
  height: 80px;
}
.portfolio .contents .image4{
  background-image: url('images/sun.png');
  position:relative;
  cursor: pointer;
  overflow: hidden;
  
 }
 .portfolio .contents .image4 .pop-up {
  position: absolute;
  left: 10%;
  bottom:-30%;
  background-color: #1D1B4D;
  width: 85%;
  height: 80px;
  transition: 0.2s ease;
}

.portfolio .contents .image4:hover .pop-up {
  position: absolute;
  left: 10%;
  bottom:10%;
  background-color: #1D1B4D;
  width: 85%;
  height: 80px;
}

.portfolio .contents .image5 {
  background-image: url('images/microphne.png');
  cursor: pointer;
  position: relative;
  overflow-y:hidden;
 }
 .portfolio .contents .image5 .pop-up {
  position: absolute;
  left: 10%;
  bottom:-30%;
  background-color: #1D1B4D;
  width: 85%;
  height: 80px;
  transition: 0.2s ease;
}

.portfolio .contents .image5:hover .pop-up {
  position: absolute;
  left: 10%;
  bottom:10%;
  background-color: #1D1B4D;
  width: 85%;
  height: 80px;
}

.portfolio .contents .image6 {
  background-image: url('images/person.png');
  cursor: pointer;
  position: relative;
  overflow: hidden;
 }
 .portfolio .contents .image6 .pop-up {
  position: absolute;
  left: 10%;
  bottom:-30%;
  background-color: #1D1B4D;
  width: 85%;
  height: 80px;
  transition: 0.2s ease;
}

.portfolio .contents .image6:hover .pop-up {
  position: absolute;
  left: 10%;
  bottom:10%;
  background-color: #1D1B4D;
  width: 85%;
  height: 80px;
}
.testimonial{
  margin-top: 700px;
}
.testimonial i{
  color: #00C0FC;
  padding-left: 34px;
  padding-right: 34px;
  font-size: 100px;
  
}
.testimonial p{
  font-size: 28px;
  text-align: center;
  margin-top: 24px;
  margin-left: 58px;
  margin-right: 58px;
  justify-content: space-between;
  font-style: italic;
}
.testimonial .fot {
  margin-top: 44px;
  display:inline-flex;
  
}
.testimonial .fot .photo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url('images/person.png');
  background-position: center;
  background-size: cover;
}
.testimonial .fot .description{
  color:#432D92;
  margin-left: 14px;
}
.description p{
  color: #7D7596;
  top: 0;}
.testimonial .dot-links {
  justify-content: space-between;
  margin-top: 34px;
  margin-left: 30px;
  row-gap: 34px;
}
.testimonial .dot-links div{
  width: 15px;
  height: 15px;
  background-color: #00C0FC;
  display: inline-flex;
  border-radius: 50%;
  gap:9px
}
.testimonial .dot-links .big-circle{
  width: 22px;
  height: 22px;
  background-color: transparent;
  display: inline-flex;
  border-radius: 50%;
  justify-items: center;border:#fff solid 2px;

}
.testimonial .dot-links .big-circle .small-circle {
  width: 15px;
  height: 15px;
  background-color: #00C0FC;
  border-radius: 50%;
  align-self: center;
  margin-left: 2px;

}


.frameworks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: center;
  margin-top: 400px;
  width: 100%;
  height: 250px;
  background-color:#432D92;
  border-radius: 8px;
}
.frameworks div i{
  justify-content: space-between;
  width: 30%;
  height: 100px;
  font-size: 60px;
  color: #A19AB5;

}
/* This is the Blog section */
.blog{
  padding-top: 120px;
  height: 700px;
  margin-bottom: 80px;
  margin-top: 40px;
}
.blog span{
  color: #00C0FC;
  font-size: 20px;
}
.blog  h4 {

  padding-top: 24px;
  font-size: 40px;
}
.blog .blog-news {
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 100%;
}

.blog .blog-news div {
  height: 380px;
  width: 31%;justify-content:space-between ;
  background-position: center;
  background-size: cover;
  background-color: aqua;
  margin-top: 100px;
  border-radius: 12px;

}
.blog-news  .img1 {
  background-image: url("images/pic1.png");
}
.blog-news  .img2 {
  background-image: url("images/pic2.png");
}
.blog-news  .img3 {
  background-image: url("images/pic3.png");
}

.blog-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1E1345;
  z-index: 999;
  padding: 6% 20%;
  display: none;
}

.blog-overlay span {
  position: absolute;
  right: 10%;
  top: 14%;
  border: 2px solid #fff;
  padding: 12px;
  font-size: large;
  height: 50px;
  width: 50px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.4s ease;
}

.blog-overlay span:hover {
  border-radius: 50%;
}

.blog-window {
  width: 100%;
  height: 100%;
  background-color: #1D1B4D;
  padding: 40px;
}

.blog-display {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: 2px;
  scrollbar-face-color: #1D1B4D;
}

.blog-window img {
  width: 100%;
  height: 500px;
  border-radius: 24px;
}

.blog-overlay.active{
  display: block;
}

/* The Contact section */
.contact{
  width:100%;
  height: 800px;
  padding-bottom: 23px;
  margin-bottom: 23px;
  margin-top: 20px;
}

 .contact-title {
  padding: 23px;
  height: 60px;
}

.contact .contact-title span {
  color:#00C0FF;
  font-size: 24px;
  padding-bottom: 5%;
}

.contact .contact-title h4 {
  font-size: 32px;
}

.contact .container-contact {
  display: flex;
  justify-content: space-between;
  grid-gap: 20px;
  align-items: center;
  margin-top: 100px;
}
  
.contact .container-contact .my-address,.write-for-me {
  width: 50%;
  height: 400px;
  margin-top: 23px;
  text-align: left;
}

.contact .container-contact .my-address {
  display: flex;
  align-items: left;
  justify-content: left;
  padding-left: 10px;
}
    
.my-address .icons div {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 1px solid #00C0FF;
  background-color: #00C0FF;
  padding-left: 10px;
  margin-top: 20px;
}

.my-address .icons div i {
  padding-top: 30px;
  height: 50px;
  width: 50px;
  font-size: 26px;
  align-content: center;
  padding-right: 10px;
}

.my-address .my-contact h4{
  font-size: 26px;
  color: #fff;
  text-align: left;
  padding-top: 49px;
  justify-content:space-between;
  padding-left: 40px;
}

.my-address .my-contact p{
  color: #625A7D;
  padding-left: 40px;
}

.write-for-me .small-in {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
}

.contact .container-contact .write-for-me #login-form{
  height: 300px;
  padding: 20px;
  background-color: transparent;
  color: #A19AB5;
 }
  
#login-form input{
  gap:2px;
  padding-left: 12px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid#8D86A4;
  text-align: left;
  color:  #B2ADC5;
  background-color: transparent;
  font-size: 20px;
  width: 100%;
}

  #login-form #message{
  width:100%;
  height: 200px;
  text-align: left;
  margin-top:9px;
  color:#B4AFC6;
  padding-left: 30px;
  padding-top:12px;
  border-radius: 8px;
  background-color: transparent;
  font-size: 20px;
  }

  .write-for-me button {
    margin-top: 10px;
  }

 .subscribe-box{
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: center;
  margin-top: 8px;
  width: 100%;
  height: 280px;
  background-color: #432D92;
  justify-content: space-between;
  border-radius: 12px;
  }
  .box-area1{
    padding:100px;
    text-align: left;
  }
  .box-area1 span{
    color: #00C0FC;
    font-size: 18px;
  }
  .box-area1 h4{
    font-size: 36px;
    margin-top: 8px;

  }
  .box-area1 p{
  color: #625A7D;
  font-size: 18px;
  margin-top: 8px;
}

.box-area2{
  width: 85%;
  height: 60px;
  display: inline-flex;
}
.box-area2 input{
  flex-direction: row;
  width: 240px;
  height: 70px;
  border: none;

 }
.box-area2  #email{
  border-radius: 8px 0  0 8px ;
  background-color:#fff;
  padding-left: 0;
  border:none;
  width: 65%;
  
 
}

.box-area2  #send-it{
  border-radius: 0 8px 8px 0;
  color: #fff ;
  background-color: #00C0FC;
  padding-left: 0;
  border: none;
  width: 35%;
  
  }
  .end-paragraph{
    margin:80px 0;

  }

  /* The style of hamburger button  */
.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  min-height: 21px;
}
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

@media(max-width: 1040px){
  body {
    overflow-x: hidden;
    width: 100vw;
  }

  .navigation{
    display: flex;
    z-index: 2;
    height:40px;
    border-bottom:1px solid #B0A1A5;
    background-color: #1E1345;
    height:60px;
    justify-content: space-between;
    align-items: center;
  }
  
  .navigation img {
    height: 40px;
  }

  .toggle-button {
    display: flex;
  }

  .toggle-button .bar {
    transition: all 0.2s ease;
  }

  .toggle-button.active .bar.one {
    transform: translateY(9px) rotate(45deg);
  }

  .toggle-button.active .bar.two {
    opacity: 0;
  }

  .toggle-button.active .bar.three {
    transform: translateY(-9px) rotate(-45deg);
  }


  header .navbar .icons{
  display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
    top: 50px;
    gap: 8px;
    padding-left: 60px;
    left:0;
    width: 100%;
    height: 0;
    background-color: #1E1345;
    position: absolute;
    align-items: flex-start;
    transition: 0.5s ease;
    overflow: hidden;
    z-index: 1;
  }

  .menu .menuList {
    display: none;
  }

  .navbar hr{
    display: none;
  }

  .menu.active {
    height: 240px;
    padding-top: 30px;
  }

  .menu.active .menuList {
    display: inline;
    font-size: small;
    margin-bottom: -10px;
  }
    
  .main{
    display: flex;
    flex-direction: column;
    height: 100vw;
    align-items: center;
    text-align: center;
  }

  .main .boxOfImage {
    /* order: 0; */
    margin-right: 23px;
    height: 140px;
    width: 140px;
    margin-top: 40px;
    background-size: cover;
    background-position-y: center;
    position: relative;
    
  }

  .main .title {
    order: 1;
    text-align: center;
    width: 90%;
    position: absolute;
     margin-top: 40px;
    align-items: center;

  }

  .main .title h1 {
    font-size: 6vw;
  }
  .main .title p{
    font-size:3vw;
  }
  .main .title button{
    width: 180px;
    height: 40px;
    font-size:2vw;
  }
  
  .box-container {
  display: grid;
  grid-template-columns: auto auto;
  height: 400px;
  gap: 24px;
  width: 100%;
  }

.about {
  padding-top: 120px;
  height: 900px;
  margin-bottom: 300px;
  margin-top: 30px;
  margin-top:600px;
}

.about-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 620px;
  margin-top: 70px;
}

.content1 {
  display: none;
}

.content2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  gap: 24px;
}

.tables{
  margin-top: 100px;
  display: flex;
  border-radius: 12px;
}

.top-logo {
  display: none;
}
.content-boxes{
  display: grid;
  grid-template-columns: auto auto auto;
  width:100%;
  height: 300px;
  gap: 20px;
}
.content-boxes .box1 {
  width: 100%;
  height: 100%;
  
}
.content-boxes .box2 {
  width: 100%;
  height: 100%;
}
.content-boxes .box3 { 
  width: 100%;
  height: 100%;
} 
  .content-boxes .box4 {
    width: 100%;
    height: 100%;
  }
  .skills{
  height: 500px;
  width: 100%;
}
.skills-content {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  height: 260px;
  margin-top: 80px; 
}
  .service{
  padding-top: 100px;
  height:900px;
  margin-bottom: 20px;
  margin-top: 30px;
}
  .service-box-parts{
  height:0px;
  padding: 2px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: auto auto;
  justify-content:space-evenly;
  margin-left: 0;
  margin-top:80px;
  gap: 18px;
  padding-right: 0px;
  width: 100%;
}
  .service-box-parts .box{
  justify-content: center;
  height: 390px;
  width:100% ;
  background-color:#3A2B71;
  gap: 4px;
}

.resume{
  margin-top:600px;
  height: 1200px;
  width: 100%;
  /* background-color: brown; */
}
.container {
  display: grid; 
  grid-template-columns: auto ;
  grid-template-rows: auto auto ;
  justify-content: left;
  width: 100%;
  height: auto;
}
.sub-container {
  display: grid; 
  grid-template-columns: auto auto;
  margin-top: 10px;
  text-align: left;
  width: 100%;
  height: 100%;
}
.container  div h3{
  text-align: left;
  margin-top: 120px;
  font-size: 32px;
}
.sub-container .circle div{
  height: 60px;
  width: 60px;

}.sub-container .circle  div i{
  color:#fff;
  padding-top:16px;
  padding-right: 10px;
  font-size: 30px;
}
.sub-container .circle .line{
  height: 60px;
  /* width: 0px; */
  border: 1px solid #8D86A4;
  margin-left: 32px;
}


.portfolio{
  margin-top:240px;
  height: 1250px;
  width: 100%;
}
.portfolio .sub-title{
  color:#fff;
  display: inline-flex;
  gap: 50px;
  margin-top: 70px;
} 

.portfolio .contents{ 
  /* display:grid; */
  /* grid-template-rows: auto; */
  grid-template-columns: auto;
}

}

@media(max-width: 767px){
  .box-container {
  display: grid;
  grid-template-columns: auto;
  height: 400px;
  gap: 24px;
  width: 100%;
  }
  .content-boxes{
    display: grid;
    grid-template-columns: auto auto;
    width:100%;
    height: 300px;
  }
    /* .service-box-parts{
  height:0px;
  padding: 2px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: auto ;
  justify-content:space-evenly;
  margin-left: 0;
  margin-top:80px;
  gap: 18px;
  padding-right: 0px;
  width: 100%;
} */
.resume .resume-title{
  padding-top:60px;

}
.resume-title span{
  color:#00C0FF;
  font-size: 20px;
 
}
.resume-title h4{
  padding-top: 24px;
  font-size: 32px;
}
}

@media(max-width: 639px){
  .service-box-parts{
  height:0px;
  padding: 2px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: auto ;
  /* justify-content:space-evenly; */
  margin-left: 0;
  margin-top:80px;
  gap: 18px;
  padding-right: 0px;
  width: 100%;
}
.resume{
  margin-top:600px;
  height: 1200px;
  width: 100%;
  /* background-color: brown; */
}
.resume .resume-title{
  padding-top:40px;

}
.content-boxes{
  display: grid;
  grid-template-columns: auto ;
  width:100%;
  height: 300px;
  gap: 20px;
}
}

@media(max-width: 414px){

  .about-title h3 {
    margin-top: 24px;
    font-size: 17px;
}
.skills-title h4 {
    margin-top: 18px;
    font-size: 17px;
}
.service .service-title h4 {
  font-size: 17px;
  margin-top: 12px;
}
.resume{
  margin-top:1800px;
  height: 1600px;
  width: 100%;
  /* background-color: brown; */
}

  .resume .container div h3{
    margin: 90px 0;
    font-size: 28px;
  }
  .container .sub-container{
    margin-top:40px;
  }
  
  .sub-container .info span{
    color:white;
    font-size: 20px;
  }
  .sub-container .info h4{
    color:white;
    text-align: left;
    margin-top: 10px;
  }
  
.portfolio h4 {
  padding-top: 54px;
  font-size: 17px;
}
.portfolio .sub-title {

  width: 100%;
  height: auto;
  clear: both;
  float: left;
  gap: 2px;
  margin-top: 40px;
}
.portfolio .contents{
  font-display: grid;
  grid-template-columns: auto;
  margin-bottom: 1200px;

}
.portfolio .contents div {
  justify-content: center;
  height: 320px;
  width:100% ;
  background-color:#3A2B71;
  gap: 8px;
  /* border-radius: 12px;
  background-size: cover;
  background-position: center; */
} 
 .testimonial{
  margin-top: 2000px;
  /* background: darkorange; */
}
.testimonial i{
  font-size: 60px;
}
.testimonial p{
    font-size: 16px;
    text-align: center;
    margin-top: 14px;
    /* margin-left: 58px;  */
    /* margin-right: 58px; */
    justify-content: space-between;
    font-style: italic;
  }
  .testimonial .dot-links div{
    width: 15px;
    height: 15px;
    background-color: #00C0FC;
    display: inline-flex;
    border-radius: 50%;
    gap:9px
  }
  .frameworks {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    align-items: center;
    margin-top: 900px;
    width: 100%;
    height: 250px;
    background-color:#432D92;
    border-radius: 8px;
  }
 .blog{
    /* padding-top: 30px; */
   height: 700px;
   margin-bottom: 80px;
   margin-top: 320px;
}
.blog .blog-news div{
  font-display: grid;
  grid-template-columns:auto;   
  width: 100%;
  height: 100%;
}
.blog-news .img1{
  height:380px;
  width: 100%;
  row-gap: 23px;
}
.blog-news .img2{
  height:380px;
  width: 100%;
}
.blog-news .img3{
  height:380px;
   width: 100%;
}
.contact{
  display: none;
}
.subscribe-box{
  display: none;
}
}